<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Olle Dahlström</string>
	<key>CFBundleDisplayName</key>
	<string>Projectplace</string>
	<key>CFBundleIdentifier</key>
	<string>net.subelement17.projectplace</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>projectplace.global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>projectplaceLoginButton</string>
				<key>Image</key>
				<string>pp.png</string>
				<key>Label</key>
				<string>Projectplace Login</string>
				<key>Palette Label</key>
				<string>Projectplace Login</string>
				<key>Tool Tip</key>
				<string>Projectplace Login</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>projectplace.endscript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Auto login for Projectplace.com. This is not an official Projectplace App!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://subelement17.net/projectplace/projectplace.plist</string>
	<key>Website</key>
	<string>http://subelement17.net/blog/projectplace-login/</string>
</dict>
</plist>
